.game-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #030c25;
  }
  .game-container1 {
    width: 100%;
    height: 997px;
    display: flex;
    position: relative;
    align-items: flex-end;
    border-color: #f300b6;
    border-width: 3px;
    justify-content: center;
  }
  .game-text {
    top: 112px;
    left: 916px;
    color: #ec0177;
    width: 120px;
    height: 29px;
    position: absolute;
    font-size: 2em;
  }
  .game-image {
    top: 237px;
    left: 1241px;
    width: 264px;
    height: 405px;
    position: absolute;
    object-fit: fill;
  }
  .game-image1 {
    top: 238px;
    left: 826px;
    width: 253px;
    height: 397px;
    position: absolute;
    object-fit: fill;
  }
  .game-image2 {
    top: 244px;
    left: 374px;
    width: 264px;
    height: 394px;
    position: absolute;
    object-fit: fill;
  }
  .game-image3 {
    top: -53px;
    left: 766px;
    width: 407px;
    height: 363px;
    position: absolute;
    object-fit: fill;
  }
  .game-button {
    top: 17px;
    left: 21px;
    width: 144px;
    height: 37px;
    position: absolute;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #f300e3;
  }
  .game-button1 {
    top: 9px;
    right: 138px;
    width: 144px;
    height: 37px;
    position: absolute;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #f300e3;
  }
  .game-button2 {
    top: 9px;
    left: 1460px;
    width: 144px;
    height: 37px;
    position: absolute;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #f300e3;
  }
  .game-button3 {
    top: 735px;
    left: 891px;
    width: 160px;
    height: 42px;
    position: absolute;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #0039f3;
  }
  .game-image4 {
    top: 11px;
    right: 17px;
    width: 114px;
    height: 98px;
    position: absolute;
    object-fit: cover;
  }
  @media(max-width: 1200px) {
    .game-image4 {
      top: 10px;
      right: 14px;
      width: 76px;
      height: 72px;
      position: absolute;
    }
  }
  