.league-of-legends-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #030c25;
  }
  .league-of-legends-image {
    top: -20px;
    left: 491px;
    width: 495px;
    height: 206px;
    position: absolute;
    object-fit: cover;
  }
  .league-of-legends-button {
    top: 11px;
    left: 21px;
    position: absolute;
  }
  .league-of-legends-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
  }
  .league-of-legends-button2 {
    top: 11px;
    left: 21px;
    position: absolute;
  }
  .league-of-legends-container2 {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100px;
    display: flex;
    align-items: flex-start;
  }
  .league-of-legends-text09 {
    top: 46px;
    left: 518px;
    color: var(--dl-color-gray-900);
    position: absolute;
    font-size: 50px;
  }
  @media(max-width: 1500px) {
    .league-of-legends-container {
      border-color: #ef0ff1;
      border-style: solid;
      border-width: 3px;
      background-color: #030c25;
    }
    .league-of-legends-image {
      top: -24px;
      left: 455px;
      width: 627px;
      height: 263px;
      position: absolute;
    }
    .league-of-legends-button {
      top: 8px;
      left: 1082px;
      width: 163px;
      height: 50px;
      background-color: #FF0F7B;
    }
    .league-of-legends-button1 {
      top: 8px;
      right: 85px;
      width: 163px;
      height: 50px;
      position: absolute;
      background-color: #FF0F7B;
    }
    .league-of-legends-container1 {
      top: 6px;
      left: 3px;
      width: 227px;
      position: absolute;
    }
    .league-of-legends-button2 {
      width: 163px;
      height: 50px;
      background-color: #FF0F7B;
    }
    .league-of-legends-container2 {
      height: 631px;
    }
    .league-of-legends-text09 {
      top: 114px;
      left: 487px;
      color: var(--dl-color-gray-white);
      position: absolute;
      font-size: 50px;
    }
  }
  